@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

/*#region Title Container*/
.title-container {
    display: flex;
    padding: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-logo {
    height: 30px;
}

#main-title {
    color: #162130;
    margin-top: 20px;
    margin-bottom: 30px;

    font-family: 'Caveat', cursive;
    font-size: 86px;
    font-weight: 500;
    line-height: 60px;
}
/*#endregion Title Container*/

/*#region Footer*/
.footer {
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer > * {
    font-family: 'Lato', sans-serif;
    font-size: large;
    margin: 5px;
}

.footer a {
    color: #162130;
}
/*#endregion Footer*/

/*#region Figure*/
.figure-container {
    align-self: flex-start;
    margin-bottom: -20px;
}

#peeking-figure {
    height: 270px;
    transform: rotate(40deg);
    margin-left: -62px;
}
/*#endregion Figure*/

/*#region Media Queries*/
@media only screen and (max-height: 730px) {
    #main-logo {
        height: 23px;
    }

    #main-title {
        font-size: 70px;
    }

    #peeking-figure {
        height: 170px;
        margin-left: -30px;
    }
}
/*#endregion Media Queries*/