@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/*#region Title Container*/
.title-container {
    display: flex;
    padding: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-logo {
    height: 30px;
}

#main-title {
    color: #162130;
    margin: 0;
    margin-top: -10px;

    font-family: 'Caveat', cursive;
    font-size: 86px;
    font-weight: 500;
}
/*#endregion Title Container*/