@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.overlay {
    z-index: 10;
    position: absolute;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: large;
    line-height: 27px;
}

button {
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    font-size: large;
    border-radius: 10px;
    background-color: #1971EC;
    border: none;
    color: white;
    box-shadow: #7c7c7c57 2px 2px 10px;
}

button:hover {
    box-shadow: #7c7c7cb4 2px 2px 10px;
    background-color: #206fdd;
}

button:active {
    background-color: #1555ad;
}

/*#region Title Container*/
.title-container {
    display: flex;
    padding: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-logo {
    height: 30px;
}

#main-title {
    color: #162130;
    margin-top: 20px;
    margin-bottom: 30px;

    font-family: 'Caveat', cursive;
    font-size: 86px;
    font-weight: 500;
    line-height: 60px;
}
/*#endregion Title Container*/

/*#region Center Container*/
.center-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-container {
    margin-top: 20px;
    margin-bottom: 60px;
}

.download-container > p {
    max-width: 400px;
}
/*#endregion Center Container */

/*#region Figure*/
.figure-container {
    margin-bottom: -20px;
    display: flex;
    width: 100%;
    align-items: flex-start !important;
}

#peeking-figure {
    height: 270px;
    transform: rotate(40deg);
    margin-left: -62px;
}
/*#endregion Figure*/

/*#region Footer*/
.footer {
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer > * {
    font-family: 'Lato', sans-serif;
    font-size: large;
    margin: 5px;
}

.footer a {
    color: #162130;
}
/*#endregion Footer*/

/*#region Media Queries*/
@media only screen and (max-width: 850px) {
    .figure-container {
        margin-bottom: -140px;
    }
}

@media only screen and (max-height: 550px), (max-width: 710px) {
    .title-container {
        margin-top: 0;
    }

    #main-logo {
        height: 20px;
    }

    #main-title {
        font-size: 60px;
        line-height: 45px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .download-container {
        margin-bottom: 40px;
    }

    .figure-container {
        margin-top: 0;
    }

    #peeking-figure {
        height: 170px;
        margin-left: -30px;
        visibility: hidden;
    }

    .footer {
        margin-bottom: 0;
        margin-top: 30px;
        padding: 15px;
    }

    .footer > p, .footer > a {
        margin: 0;
    }
}
/*#endregion Media Queries*/